body {
    background: #050505;
    color: #00ff00;
    font-family: 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.box {
    background: #111;
    padding: 30px;
    border: 1px solid #333;
    box-shadow: 0 0 20px #ff0000;
    width: 90%;
    max-width: 600px;
    text-align: center;
}

textarea {
    width: 100%;
    height: 200px;
    background: #000;
    color: #00ff00;
    border: 1px solid #00ff00;
    padding: 10px;
    margin-bottom: 20px;
    resize: none;
}

button {
    background: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

button:hover { background: #b30000; }

#rawUrl {
    width: 70%;
    padding: 10px;
    background: #222;
    border: 1px solid #00ff00;
    color: #fff;
    margin: 10px 0;
}

.hidden { display: none; }
.glitch { color: #ff0000; font-size: 24px; text-shadow: 2px 2px #555; }
